{% extends "layout.html" %}
{% block content %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset>
      <center><legend class="text-riddle">Главное слово из кроссворда</legend></center>
      <div>
        {% if form.answer.errors %}
          {% for error in form.answer.errors %}
            <span> {{ error }} </span>
          {% endfor %}
        {% endif %}
        {{ form.answer(size=50) }}
      </div>
    </fieldset>
    <div>
      {{ form.submit_button }}
    </div>
  </form>
  <br><img src="static\palms_together.jpg" alt="Irina's certificate!!!" width="600">
{% endblock content %}

