{% extends "layout.html" %}
{% block content %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset>
      <center><legend>Главное слово из кроссворда</legend></center>
      <div>
        {% if form.answer.errors %}
          {% for error in form.answer.errors %}
            <span> {{ error }} </span>
          {% endfor %}
        {% else %}
          {{ form.answer }}
        {% endif %}
      </div>
    </fieldset>
    <div>
      {{ form.submit_button }}
    </div>
  </form>
{% endblock content %}

