<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Irina Birthday Riddle website</title>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Pacifico">
</head>
<body>
  <center>
    <div class="text-riddle">
      {% if opening %} 
        {% for line in opening %}    
          {{ line }}<br>
        {% endfor %}
      {% endif %}
    </div><br>
  
    <div>
      {% block content %}{% endblock %}
    </div>
    {% if picture %}
      <br>
      <img src="{{ picture }}" alt="picture" width="{{ w }}">
    {% endif %}
  </center>

</body>
